<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Some website</title>
    </head>
    <body>
        <h1>Page under maintenance</h1>
        <p>Please try after sometime</p>
    </body>
</html>